<a mat-button class="menu-button" routerLink="home">
  <mat-icon>account_circle</mat-icon>
  <span>Perfil</span>
</a>
<a mat-button class="menu-button" routerLink="flights">
  <mat-icon>message</mat-icon>
  <span>Mensagens</span>
</a>

<a mat-button class="menu-button" routerLink="flights">
  <mat-icon>settings</mat-icon>
  <span>Configurações</span>
</a>

<mat-divider class="divider"> </mat-divider>

<a mat-button class="menu-button sair" routerLink="hotels">
  <mat-icon>logout</mat-icon>
  <span>Sair</span>
</a>
