<a mat-button class="menu-button" routerLink="home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<a mat-button class="menu-button" routerLink="flights">
  <mat-icon>settings</mat-icon>
  <span>Configurações</span>
</a>

<a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>article</mat-icon>
  <span>Consultar solicitações</span>
</a>

<a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>folder</mat-icon>
  <span>Registrar solicitações</span>
</a>

<a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>notifications</mat-icon>
  <span>Mensagens</span>
</a>

<a mat-button class="menu-button" routerLink="hotels">
  <mat-icon>work outline</mat-icon>
  <span>Designar técnicos</span>
</a>
