<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
<!-- Nav -->
<aside class="l-nav__container">
  <nav class="l-nav">
    <ul class="l-nav__menu">
      <li>
        <a href="#home" class="hvr-underline-from-left">Home</a>
      </li>
      <li>
        <a href="#about" class="hvr-underline-from-left">Sobre</a>
      </li>
      <li>
        <a href="#skills" class="hvr-underline-from-left">Conhecimentos</a>
      </li>
      <li>
        <a href="#projects" class="hvr-underline-from-left">Projetos</a>
      </li>
      <li>
        <a href="#interesting" class="hvr-underline-from-left">Interesses</a>
      </li>
      <li>
        <a href="#contact" class="hvr-underline-from-left">Contato</a>
      </li>
      <li>
        <a
          href="./Currículo.pdf"
          download=""
          class="l-nav__menu-resume hvr-underline-from-left"
          >Currículo <i class="fas fa-file-download"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="c-social-media">
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
</aside>
