<mat-dialog-content>
  <main class="l-main">
    <div class="content">
      <div class="layout-flex-row">
        <h1 mat-dialog-title>
          Confirmação da designação do técnico responsável
        </h1>
        <button mat-mini-fab color="warn" (click)="cancel()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>Resumo do processo</h3>
        </div>

        <div class="card-body">
          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="202020202002" value="" disabled />

              <mat-hint>Número do processo</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Designação xxxs" value="" disabled />

              <mat-hint>Nome do processo</mat-hint>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <h4>Técnicos designados</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="layout-flex">
                <div fxLayout="row">
                  <mat-icon> person </mat-icon>
                  <div fxLayout="column">
                    <span>Função</span>
                    <span>Nome Sobrenome</span>
                  </div>
                </div>

                <div fxLayout="row">
                  <mat-icon> person </mat-icon>
                  <div fxLayout="column">
                    <span>Função</span>
                    <span>Nome Sobrenome</span>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-form-field>
              <textarea
                matInput
                placeholder=""
                value="lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit lorem ipsum dolor sit amet consectetur adipiscing elit  "
                disabled
                cols="60"
                rows="4"
              ></textarea>

              <mat-hint>Motivo da designação</mat-hint>

              <mat-hint align="end">
                <span>0</span>
                <span>/</span>
                <span>500</span>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-12 l-footer__button">
            <button
              mat-raised-button
              color="warn"
              type="submit"
              form="form-designa-tecnico"
              class="btn btn-primary"
              (click)="cancel()"
            >
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>

            <button
              mat-raised-button
              color="primary"
              type="submit"
              form="form-designa-tecnico"
              class="btn btn-primary"
            >
              <mat-icon>check</mat-icon>
              Designar
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</mat-dialog-content>
