<main class="container-fluid l-main">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Resumo do processo</h3>
        </div>

        <div class="card-body l-main__card">
          <div class="row l-main__card-item">
            <div class="col-12">
              <div class="row">
                <div class="col-12 my-2">
                  <h4>Dados do processo</h4>
                </div>
             
                <div class="col-12 col-md-6 my-2">
                  <div class="form-group">
                    <label for="numeroProcesso">Número do processo</label>
                    <input
                      type="text"
                      class="form-control"
                      id="numeroProcesso"
                      placeholder="Número do processo"
                    />
                  </div>
                </div>

                  <div class="col-12 col-md-6 my-2">
                    <div class="form-group">
                      <label for="input-fecha-designacion">Data da designação</label>
                      <input
                        type="date"
                        class="form-control"
                        id="input-fecha-designacion"
                        name="input-fecha-designacion"
                        formControlName="fechaDesignacion"
                        required
                      />
                    </div>
                  </div>
              </div>
            </div>

       
              <div class="col-12 col-md-6 my-2">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                    </tr>
                 
                  </tbody>
                </table>
              </div>

              <div class="col-12 col-md-6 my-2 l-main__card-textarea">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  placeholder="Observações"
                ></textarea>
              </div>

        <div class="col-6 l-main__card-textarea p-5">
          <!-- <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Observações"
          ></textarea> -->
          <div class="input-group mb-3">
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div>
        </div>
      </div>
    </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12 l-footer__button">
              <button type="button" class="btn btn-danger" (click)="cancel()">
                <i class="fas fa-times"></i>
                Cancelar
              </button>
              <button
                type="submit"
                form="form-designa-tecnico"
                class="btn btn-primary"
              >
                <i class="fas fa-check"></i>
                Designar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
