<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

<main class="container-fluid l-main">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center p-3 lead">
          <h3>Designação do técnico responsável</h3>
        </div>

        <div class="card-header text-center">
          <h3>Selecione o técnico para o processo</h3>
        </div>

        <div class="card-body l-main__card">
          <div class="row l-main__card-item">
            <div class="swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide card">
                  <div class="l-main__slide">
                    <i class="bi bi-person"></i>
                    <i class="bi bi-circle-fill"></i>
                    <p class="my-2">Nome do técnico</p>
                    <p class="my-2">Aréa especializada</p>
                  </div>
                  <div class="l-main__slide">
                    <div class="my-4">
                      <i class="bi bi-file-earmark-zip-fill"></i>
                      <p class="my-4">Processo já realizado</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">
                    Selecionar técnico
                  </button>
                </div>
                <div class="swiper-slide card">
                  <div class="l-main__slide">
                    <i class="bi bi-person"></i>
                    <i class="bi bi-circle-fill"></i>
                    <p class="my-2">Nome do técnico</p>
                    <p class="my-2">Aréa especializada</p>
                  </div>
                  <div class="l-main__slide">
                    <div class="my-4">
                      <i class="bi bi-file-earmark-zip-fill"></i>
                      <p class="my-4">Processo já realizado</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">
                    Selecionar técnico
                  </button>
                </div>
                <div class="swiper-slide card">
                  <div class="l-main__slide">
                    <i class="bi bi-person"></i>
                    <i class="bi bi-circle-fill"></i>
                    <p class="my-2">Nome do técnico</p>
                    <p class="my-2">Aréa especializada</p>
                  </div>
                  <div class="l-main__slide">
                    <div class="my-4">
                      <i class="bi bi-file-earmark-zip-fill"></i>
                      <p class="my-4">Processo já realizado</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">
                    Selecionar técnico
                  </button>
                </div>
                <div class="swiper-slide card">
                  <div class="l-main__slide">
                    <i class="bi bi-person"></i>
                    <i class="bi bi-circle-fill"></i>
                    <p class="my-2">Nome do técnico</p>
                    <p class="my-2">Aréa especializada</p>
                  </div>
                  <div class="l-main__slide">
                    <div class="my-4">
                      <i class="bi bi-file-earmark-zip-fill"></i>
                      <p class="my-4">Processo já realizado</p>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">
                    Selecionar técnico
                  </button>
                </div>
              </div>
              <!-- If we need navigation buttons -->
              <!-- <div class="swiper-button-prev"></div> -->
              <!-- <div class="swiper-button-next"></div> -->
              <!-- If we need scrollbar -->
              <div class="swiper-scrollbar"></div>
              <!-- If we need pagination -->
              <!-- <div class="swiper-pagination"></div> -->
            </div>

            <div class="col-12 col-md-6 l-main__card-textarea">
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                placeholder="Observações"
              ></textarea>
            </div>
          </div>
        </div>

        <!-- <div class="col-12 l-main__card-textarea p-5">
          <p>Daniel</p>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div> -->
        <div class="card-footer">
          <div class="row">
            <div class="col-12 l-footer__button">
              <button type="button" class="btn btn-danger">
                <i class="fas fa-times"></i>
                Cancelar
              </button>
              <button
                type="submit"
                form="form-designa-tecnico"
                class="btn btn-primary"
                (click)="confirm()"
              >
                <i class="fas fa-check"></i>
                Designar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Swiper -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<!-- <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> -->
<!-- <script src="https://unpkg.com/swiper/js/swiper.min.js"></script> -->
