mat-toolbar {
  background: #ececec;
  color: #1a1919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-sidenav {
  margin: 16px;
  width: 250px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.menu-dropdown-slide {
  margin: 16px;
  width: 200px;
  height: 50vh;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.menu-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  line-height: normal;
  font-size: 0.8rem;
}

.menu-vertical > span:nth-child(1) {
  color: gray;
}

.content {
  min-height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  color: gray;
  height: auto;
  width: max-content;
  /* width: 1000px; */
  /* overflow: hidden; */
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 1px;
  /* margin-bottom: 16px; */
  border-top-width: 20px;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #000;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top-width: 5px;
  background-color: #fff;
}

.sair {
  padding: 0 3rem;
  background: #fff;
  color: #000;
}
