<!-- https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
<mat-toolbar class="mat-elevation-z8">
  <div class="menu">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <button mat-icon-button routerLink="home">
      <img src="../../assets/img/senac_logo.svg" width="50" />
    </button>
  </div>

  <span class="spacer"></span>

  <div class="menu-dropdown">
    <div mat-menu-item class="menu">
      <mat-icon>info</mat-icon>
      <span *ngIf="sidenav.opened">Sobre</span>
    </div>
    <div mat-menu-item class="menu">
      <mat-icon>help</mat-icon>
      <span *ngIf="sidenav.opened">FAQ</span>
    </div>
    <div mat-menu-item class="menu">
      <div class="menu-vertical">
        <span *ngIf="sidenav.opened">Admin</span>
        <span *ngIf="sidenav.opened">Nome sobrenome</span>
      </div>
      <mat-icon>account_circle</mat-icon>
      <button
        mat-icon-button
        *ngIf="menudropdown.mode === 'over'"
        (click)="menudropdown.toggle()"
      >
        <mat-icon *ngIf="!menudropdown.opened"> expand_more </mat-icon>
        <mat-icon *ngIf="menudropdown.opened"> close </mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-divider> </mat-divider>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <sidebar-cmp></sidebar-cmp>
  </mat-sidenav>

  <mat-sidenav
    #menudropdown="matSidenav"
    class="mat-elevation-z8 menu-dropdown-slide"
    position="end"
  >
    <navbar-cmp></navbar-cmp>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
      <router-outlet name="aux"> </router-outlet>
      <app-designacao-tecnico></app-designacao-tecnico>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
