<!-- Header -->
<header class="l-header">
  <nav class="navbar bg-light fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-center gap-4">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a
          class="navbar-brand d-flex align-items-center justify-content-center gap-5"
          href="#"
        >
          <img
            src="../../../assets/img/senac-logo-4F23FCC138-seeklogo 1.svg"
            alt="Logo do Senac"
            title="Logo do Senac"
          />
        </a>
      </div>

      <form class="d-flex align-items-center justify-content-center">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />

        <div class="l-icon">
          <div class="d-flex align-items-center justify-content-center">
            <!-- Icon-Bell -->
            <div class="bell m-3" id="bell-1">
              <div class="anchor material-icons layer-1">
                notifications_active
              </div>
              <div class="anchor material-icons layer-2">notifications</div>
            </div>

            <!-- <a href="#" class="icon">
              <img
                src="../../../assets/img/Vector-1.svg"
                alt=""
                class="icon-bell"
              />
            </a> -->

            <div
              class="l-nav__menu-resume hvr-underline-from-left d-flex flex-row align-items-center justify-content-center"
            >
              <a href="#" class="icon">
                <img
                  src="../../../assets/img/Outline/Communication/User.svg"
                  alt=""
                  class="icon"
                />
              </a>
              <p>Administrador</p>
            </div>
          </div>
        </div>
      </form>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Juridico</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <aside class="l-nav__containe">
            <nav class="l-na">
              <ul class="l-nav__menu">
                <li>
                  <a href="#home" class="hvr-underline-from-left">
                    <img src="../../../assets/img/home.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#about" class="hvr-underline-from-left">
                    <img src="../../../assets/img/config.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#skills" class="hvr-underline-from-left">
                    <img src="../../../assets/img/save.svg" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#projects" class="hvr-underline-from-left">
                    <img src="../../../assets/img/edit-two.svg" alt="" />
                  </a>
                </li>

                <li>
                  <a
                    href="#user"
                    class="l-nav__menu-resume hvr-underline-from-left d-flex flex-column align-items-center justify-content-center"
                  >
                    <!-- <i class="bi bi-person"></i> -->
                    <img
                      src="../../../assets/img/Outline/Communication/User.svg"
                      alt=""
                    />
                    <p>Administrador</p>
                  </a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- <div class="l-divider">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center">
          <img
            src="../../../assets/img/Outline/Communication/User.svg"
            alt=""
          />
          <p class="me-2">Olá, Fulano</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- End Nav -->

<!-- <script src="https://code.jquery.com/jquery-1.11.2.js"></script> -->
